https://github.com/sa46lll/WebScraping_selenium/tree/master/webscraping_basic

In [1]:
import requests
import re
from bs4 import BeautifulSoup

url = "https://www.coupang.com/np/search?q=%EB%85%B8%ED%8A%B8%EB%B6%81&channel=user&component=&eventCategory=SRP&trcid=&traid=&sorter=scoreDesc&minPrice=&maxPrice=&priceRange=&filterType=&listSize=36&filter=&isPriceRange=false&brand=&offerCondition=&rating=0&page=1&rocketAll=false&searchIndexingToken=1=4&backgroundColor="
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36"}
res = requests.get(url, headers=headers)
res.raise_for_status()
soup = BeautifulSoup(res.text, "lxml")

In [2]:
# print(res.text)
items = soup.find_all("li", attrs={"class" : re.compile("^search-product")}) # search_product 로 시작하는 모든 "li" element
# print(items[0].find("div", attrs={"class" : "name"}).get_text())

In [3]:
import pandas as pd

df = pd.DataFrame()

In [16]:
for item in items:
    #print(item)
    try:

        name = item.find("div", attrs={"class" : "name"}).get_text() # 제품명
        price = item.find("strong", attrs={"class" : "price-value"}).get_text() # 가격

        row = {'name':name, 'price':price}
        df =df.append(row,ignore_index=True)
    
    except:
        pass

In [17]:
df

                                                 name      price
0   삼성전자 2021 플러스2 15.6, 블레이드 블랙, 코어i7 11세대, 512GB...  1,599,000
1   삼성전자 2021 노트북 플러스2 15.6, 미스틱 그레이, 셀러론, 128GB, ...    598,000
2   LG전자 2020 울트라 PC 14, 화이트, 셀러론, 128GB, 4GB, WIN...    448,000
3   레노버 2021 GAMING 3 15ACH R5, 쉐도우 블랙, 라이젠5 4세대, ...  1,021,000
4   삼성전자 2021 갤럭시북 프로 15.6, 미스틱 실버, 코어i7 11세대, 102...  1,979,000
..                                                ...        ...
67  HP 2021 노트북 15s, 스노우 화이트, 코어i3 11세대, 256GB, 4G...    549,000
68  에이수스 2021 TUF Gaming F15, 이클립스 그레이, 코어i5 11세대,...    995,820
69  HP 2021 노트북 15s, 내츄럴 실버, 코어i3 10세대, 128GB, 4GB...    445,000
70  삼성전자 2021 노트북 플러스2 15.6, 퓨어 화이트, 셀러론, 378GB, 8...    598,000
71  레노버 2020 YOGA 7 14ITL + 레노버 액티브 펜, 슬레이트 그레이, 코...  1,070,000

[72 rows x 2 columns]