In [1]:
import requests
from bs4 import BeautifulSoup

raw = requests.get("https://search.naver.com/search.naver?where=news&query=직방")
html = BeautifulSoup(raw.text, "html.parser")

- 하지만 약간의 제안 사항이 있다.

1) API 호출이 일 25,000회로 제한되어 있다. 최대 한 번 호출에 100개의 검색을 가져 올 수 있다.

2) 네이버에서 데이터를 검색하면 뉴스에서만 약 43만건의 데이터가 검색된다. 하지만 최대 1000개만 API를 이용하여 가지고 올 수 있다.

​

In [2]:
raw

In [147]:
import requests
import json
import time   
import pandas as pd

url = 'https://openapi.naver.com/v1/search/news?'
clientId = "caEZVhbaA3jpsPlUS0Gc"
clientSecret = "vZN2eShOyb"
header = {
    "X-Naver-Client-Id": clientId ,
    "X-Naver-Client-secret":clientSecret,
}

#start가 100에서 처음 등장하는 것이 start 1일때 newslist[99]임
#들어가야할 start 값 -> 1, 101, 201, 301, 401, 
for i in range(0, 10):
    start = 1
    while start <= 1000 : #start는 1000개가 최대
        time.sleep(0.1)
        params = {'query':"직방에 따르면" ,'start':start, 'sort':'sim'}# 'display':100, 'start':start, 'sort':'sim'} #'sort':'date'} #날짜순 아닌 유사도 순
        r = requests.get(url, params = params, headers = header)
        time.sleep(0.1)
        j = r.json() 
        newslist = j['items'] 
        #df = df.append(newslist)
        start += 100
        time.sleep(0.1)
        #print(j)

    newslist.append(newslist)

TypeError: unsupported operand type(s) for +=: 'dict' and 'dict'

In [149]:
pd.DataFrame(newslist)

,title,originallink,link,description,pubDate
0,서울 5월 분양 고작 89가구… 내집 마련 또 멀어지나,https://www.seoul.co.kr/news/newsView.php?id=2...,https://n.news.naver.com/mnews/article/081/000...,2일 <b>직방에 따르면</b> 지난달 전국에서 실제 분양이 이뤄진 아파트 물량은 ...,"Tue, 03 May 2022 05:08:00 +0900"
1,[Money &amp; Riches] 5월 성수기 입주물량 활짝…전세 얻기 딱 좋은...,http://news.mk.co.kr/newsRead.php?no=400429&ye...,https://n.news.naver.com/mnews/article/009/000...,2일 부동산 정보 플랫폼 <b>직방에 따르면</b> 이달 전국 아파트 입주 물량은 ...,"Fri, 06 May 2022 04:03:00 +0900"
2,새 정부 앞두고 미뤄지는 분양…5월 수도권 물량 8285가구,https://www.news1.kr/articles/?4667056,https://n.news.naver.com/mnews/article/421/000...,"2일 <b>직방에 따르면</b> 5월 전국에서 42개 단지, 총 2만4598가구 중...","Mon, 02 May 2022 08:32:00 +0900"
3,5월 전국 2만4500여가구 분양…전월 실적 比 118%↑,http://www.shinailbo.co.kr/news/articleView.ht...,http://www.shinailbo.co.kr/news/articleView.ht...,2일 <b>직방에 따르면</b> 5월 전국에서 아파트 42개 단지 총 2만4598가...,"Mon, 02 May 2022 13:08:00 +0900"
4,5월 수도권 분양 1만 세대 미만..&quot;규제완화 기대감에 속도조절&quot;,http://www.edaily.co.kr/news/newspath.asp?news...,https://n.news.naver.com/mnews/article/018/000...,"(사진=직방)2일 <b>직방에 따르면</b> 5월에는 42개 단지, 총세대수 2만 ...","Mon, 02 May 2022 09:20:00 +0900"
5,"5월 전국 2만4500가구 분양, 재건축·재개발 분양일정 불확실성 증가",https://www.businesspost.co.kr/BP?command=arti...,https://www.businesspost.co.kr/BP?command=arti...,2일 <b>직방에 따르면</b> 5월 들어 전국 42개 단지에서 모두 2만4598가...,"Mon, 02 May 2022 10:58:00 +0900"
6,5월 전국 2만4598가구 분양…서울은 1개 단지 그쳐,http://www.m-i.kr/news/articleView.html?idxno=...,http://www.m-i.kr/news/articleView.html?idxno=...,"2일 <b>직방에 따르면</b> 5월 전국에서 42개 단지, 총 2만4598가구 중...","Mon, 02 May 2022 12:06:00 +0900"
7,"[초점] 손정의 비전펀드 받고, 국내 상장까지…<b>직방</b> M&amp;A 속내는",http://www.inews24.com/view/1418407,https://n.news.naver.com/mnews/article/031/000...,3일 업계에 <b>따르면</b> 최근 삼성SDS는 홈 IoT 사업 인수 우선협상대상...,"Wed, 03 Nov 2021 15:52:00 +0900"
8,"5월 서울 분양 &apos;고작 89가구&apos;…너도나도 일정 연기, 왜?",http://news.tf.co.kr/read/economy/1935556.htm,https://n.news.naver.com/mnews/article/629/000...,"2일 <b>직방에 따르면</b> 이달에는 전국에서 42개 단지, 총 2만4598가구...","Mon, 02 May 2022 11:49:00 +0900"
9,5월 2만4598가구 공급…&quot;정치 이슈·자재값 인상 변수&quot;,http://www.newstomato.com/ReadNews.aspx?no=112...,http://www.newstomato.com/ReadNews.aspx?no=112...,"2일 <b>직방에 따르면</b> 이달 42개 단지, 총 2만4598가구가 공급되며,...","Mon, 02 May 2022 09:50:00 +0900"

In [150]:

df_zigbang = pd.json_normalize( newslist )

In [151]:
df_zigbang.tail()

,title,originallink,link,description,pubDate
5,"5월 전국 2만4500가구 분양, 재건축·재개발 분양일정 불확실성 증가",https://www.businesspost.co.kr/BP?command=arti...,https://www.businesspost.co.kr/BP?command=arti...,2일 <b>직방에 따르면</b> 5월 들어 전국 42개 단지에서 모두 2만4598가...,"Mon, 02 May 2022 10:58:00 +0900"
6,5월 전국 2만4598가구 분양…서울은 1개 단지 그쳐,http://www.m-i.kr/news/articleView.html?idxno=...,http://www.m-i.kr/news/articleView.html?idxno=...,"2일 <b>직방에 따르면</b> 5월 전국에서 42개 단지, 총 2만4598가구 중...","Mon, 02 May 2022 12:06:00 +0900"
7,"[초점] 손정의 비전펀드 받고, 국내 상장까지…<b>직방</b> M&amp;A 속내는",http://www.inews24.com/view/1418407,https://n.news.naver.com/mnews/article/031/000...,3일 업계에 <b>따르면</b> 최근 삼성SDS는 홈 IoT 사업 인수 우선협상대상...,"Wed, 03 Nov 2021 15:52:00 +0900"
8,"5월 서울 분양 &apos;고작 89가구&apos;…너도나도 일정 연기, 왜?",http://news.tf.co.kr/read/economy/1935556.htm,https://n.news.naver.com/mnews/article/629/000...,"2일 <b>직방에 따르면</b> 이달에는 전국에서 42개 단지, 총 2만4598가구...","Mon, 02 May 2022 11:49:00 +0900"
9,5월 2만4598가구 공급…&quot;정치 이슈·자재값 인상 변수&quot;,http://www.newstomato.com/ReadNews.aspx?no=112...,http://www.newstomato.com/ReadNews.aspx?no=112...,"2일 <b>직방에 따르면</b> 이달 42개 단지, 총 2만4598가구가 공급되며,...","Mon, 02 May 2022 09:50:00 +0900"

In [104]:
df_zigbang.pubDate = pd.to_datetime(df_zigbang.pubDate) 
df_zigbang.pubDate = df_zigbang.pubDate.dt.tz_localize(None)

In [105]:
df_zigbang['year-m'] = df_zigbang.pubDate.dt.strftime('%Y-%m')

In [106]:
#df_zigbang.pivot_table(index='year-m', aggfunc='count' )
df_zigbang.to_excel('naver_news_zigbang.xlsx')

### 네이버 뉴스 크롤러

In [162]:
import os
import sys
import urllib.request
import datetime
import time
import json
#from config import *

#[CODE 1]
def get_request_url(url):
    
    req = urllib.request.Request(url)
    req.add_header("X-Naver-Client-Id", clientId)
    req.add_header("X-Naver-Client-Secret", clientSecret)
    try: 
        response = urllib.request.urlopen(req)
        if response.getcode() == 200:
            print ("[%s] Url Request Success" % datetime.datetime.now())
            return response.read().decode('utf-8')
    except Exception as e:
        print(e)
        print("[%s] Error for URL : %s" % (datetime.datetime.now(), url))
        return None

#[CODE 2]
def getNaverSearchResult(sNode, search_text, page_start, display):
    
    base = "https://openapi.naver.com/v1/search"
    node = "/%s.json" % sNode
    parameters = "?query=%s&start=%s&display=%s" % (urllib.parse.quote(search_text), page_start, display)
    url = base + node + parameters
    
    retData = get_request_url(url)
    
    if (retData == None):
        return None
    else:
        return json.loads(retData)

#[CODE 3]
def getPostData(post, jsonResult):
    
    title = post['title']
    description = post['description']
    org_link = post['originallink']
    link = post['link']

    #Tue, 14 Feb 2017 18:46:00 +0900
    pDate = datetime.datetime.strptime(post['pubDate'],  '%a, %d %b %Y %H:%M:%S +0900')
    pDate = pDate.strftime('%Y-%m-%d %H:%M:%S')
    
    jsonResult.append({'title':title, 'description': description,
                    'org_link':org_link, 'link': org_link, 
                    'pDate':pDate})
    return    

def main():

    jsonResult = []

    # 'news', 'blog', 'cafearticle'
    sNode = 'news'
    search_text = '아실에 따르면'
    display_count = 100
    
    jsonSearch = getNaverSearchResult(sNode, search_text, 1, display_count)
    
    while ((jsonSearch != None) and (jsonSearch['display'] != 0)):
        for post in jsonSearch['items']:
            getPostData(post, jsonResult)
        
        nStart = jsonSearch['start'] + jsonSearch['display']
        jsonSearch = getNaverSearchResult(sNode, search_text, nStart, display_count)
    
    with open('%s_naver_%s.json' % (search_text, sNode), 'w', encoding='utf8') as outfile:
        retJson = json.dumps(jsonResult,
                        indent=4, sort_keys=True,
                        ensure_ascii=False)
        outfile.write(retJson)
        
    print ('%s_naver_%s.json SAVED' % (search_text, sNode))

    
if __name__ == '__main__':
    main()

[2022-09-20 12:49:14.577730] Url Request Success
[2022-09-20 12:49:14.777940] Url Request Success
[2022-09-20 12:49:14.969574] Url Request Success
[2022-09-20 12:49:15.163940] Url Request Success
[2022-09-20 12:49:15.391561] Url Request Success
[2022-09-20 12:49:15.603441] Url Request Success
[2022-09-20 12:49:15.809625] Url Request Success
[2022-09-20 12:49:16.005306] Url Request Success
[2022-09-20 12:49:16.243263] Url Request Success
[2022-09-20 12:49:16.467502] Url Request Success
HTTP Error 400: Bad Request
[2022-09-20 12:49:16.535907] Error for URL : https://openapi.naver.com/v1/search/news.json?query=%EC%95%84%EC%8B%A4%EC%97%90%20%EB%94%B0%EB%A5%B4%EB%A9%B4&start=1001&display=100
아실에 따르면_naver_news.json SAVED

In [163]:
df_zingbang = pd.read_json(r'/Users/reejungkim/Documents/Git/WebCrawler/아실에 따르면_naver_news.json')
df_zingbang.to_excel('아실에 따르면.xlsx')